<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="nu.mine.kino.plugin.projectmanagement.actions.CopyUtilTemplateCreateAction"
            name="ガントチャートサンプルを生成">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="nu.mine.kino.plugin.projectmanagement.handlers.CopyUtilTemplateCreateHandler"
            commandId="nu.mine.kino.plugin.projectmanagement.actions.CopyUtilTemplateCreateAction">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">

      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/page_excel.png"
               label="EVMツール">
            <command
                  commandId="nu.mine.kino.plugin.projectmanagement.actions.CopyUtilTemplateCreateAction"
                  icon="icons/page_excel.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <or>
                     <and>
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.jdt.core.IJavaProject">
                        </adapt>
                     </iterate>
                     </and>
                     <and>
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                        </adapt>
                     </iterate>
                     </and>
                     <and>
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFolder">
                        </adapt>
                     </iterate>
                     </and>
                     </or>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="nu.mine.kino.plugin.projectmanagement.commands.IFileCommandDefinition">
                             <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="xls">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
     </definition>
  </extension>
</plugin>
