<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="nu.mine.kino.plugin.jenkins.heartbeat.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="nu.mine.kino.plugin.jenkins.heartbeat.Perspective"
            id="nu.mine.kino.plugin.jenkins.heartbeat.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="nu.mine.kino.plugin.jenkins.heartbeat.application"
            name="Jenkins Heartbeat">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Jenkins Heartbeat">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="nu.mine.kino.plugin.jenkins.heartbeat.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="nu.mine.kino.plugin.jenkins.heartbeat.preferencepages.MainPreferencePage"
            class="nu.mine.kino.plugin.jenkins.heartbeat.preferencepages.PreferencePage"
            id="nu.mine.kino.plugin.jenkins.heartbeat.preferencepages.PreferencePage"
            name="Jenkins">
      </page>
   </extension>

</plugin>
