<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="nu.mine.kino.plugin.webrecorder.commands.category"
            defaultHandler="nu.mine.kino.plugin.webrecorder.handlers.StartHandler"
            id="nu.mine.kino.plugin.webrecorder.commands.RecordCommand"
            name="録画スタート">
      </command>
      <command
            categoryId="nu.mine.kino.plugin.webrecorder.commands.category"
            defaultHandler="nu.mine.kino.plugin.webrecorder.handlers.StartHandler"
            id="nu.mine.kino.plugin.webrecorder.commands.StartCommand"
            name="サーバ起動">
      </command>
      <command
            categoryId="nu.mine.kino.plugin.webrecorder.commands.category"
            defaultHandler="nu.mine.kino.plugin.webrecorder.handlers.StartHandler"
            id="nu.mine.kino.plugin.webrecorder.commands.ProxyOnlyCommand"
            name="Proxy Only起動">
      </command>
      <command
            categoryId="nu.mine.kino.plugin.webrecorder.commands.category"
            defaultHandler="nu.mine.kino.plugin.webrecorder.handlers.StopHandler"
            id="nu.mine.kino.plugin.webrecorder.commands.StopCommand"
            name="サーバ停止">
      </command>
      <category
            id="nu.mine.kino.plugin.webrecorder.commands.category"
            name="Web Recorder">
      </category>
      <command
            categoryId="nu.mine.kino.plugin.webrecorder.commands.category"
            defaultHandler="nu.mine.kino.plugin.webrecorder.handlers.OpenDirHandler"
            id="nu.mine.kino.plugin.webrecorder.commands.OpenDirCommand"
            name="キャッシュフォルダを開く">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="nu.mine.kino.plugin.webrecorder.toolbars.WebRecorderToolbar">
            <command
                  commandId="nu.mine.kino.plugin.webrecorder.commands.RecordCommand"
                  icon="icons/film_save.png"
                  id="nu.mine.kino.plugin.webrecorder.toolbars.RecordCommand"
                  style="push"
                  tooltip="録画スタート">
            </command>
            <command
                  commandId="nu.mine.kino.plugin.webrecorder.commands.StartCommand"
                  icon="icons/control_play_blue.png"
                  id="nu.mine.kino.plugin.webrecorder.toolbars.StartCommand"
                  style="pulldown"
                  tooltip="サーバ起動">
            </command>
            <command
                  commandId="nu.mine.kino.plugin.webrecorder.commands.StopCommand"
                  icon="icons/stop.png"
                  id="nu.mine.kino.plugin.webrecorder.toolbars.StopCommand"
                  style="push"
                  tooltip="サーバ停止">
            </command>
            <command
                  commandId="nu.mine.kino.plugin.webrecorder.commands.OpenDirCommand"
                  icon="icons/folder_wrench.png"
                  id="nu.mine.kino.plugin.webrecorder.toolbars.OpenDirCommand"
                  style="push"
                  tooltip="キャッシュフォルダを開く">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      </menuContribution>
      <menuContribution
            locationURI="menu:nu.mine.kino.plugin.webrecorder.toolbars.StartCommand">
         <command
               commandId="nu.mine.kino.plugin.webrecorder.commands.StartCommand"
               icon="icons/control_play_blue.png"
               id="nu.mine.kino.plugin.webrecorder.toolbars.StartCommand1"
               style="push"
               tooltip="サーバ起動">
         </command>
         <command
               commandId="nu.mine.kino.plugin.webrecorder.commands.ProxyOnlyCommand"
               icon="icons/connect.png"
               id="nu.mine.kino.plugin.webrecorder.toolbars.ProxyOnlyCommand"
               style="push"
               tooltip="Proxy Only起動">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="nu.mine.kino.plugin.webrecorder.commands.StartCommand1"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="nu.mine.kino.plugin.webrecorder.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="nu.mine.kino.plugin.webrecorder.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="nu.mine.kino.plugin.webrecorder.preferences.ProxyPreferencePage"
            id="nu.mine.kino.plugin.webrecorder.preferences.MainPreferencePage"
            name="Web Recorder">
      </page>
      <page
            category="nu.mine.kino.plugin.webrecorder.preferences.MainPreferencePage"
            class="nu.mine.kino.plugin.webrecorder.preferences.PostPreferencePage"
            id="nu.mine.kino.plugin.webrecorder.preferences.PostPreferencePage"
            name="Postの設定">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="nu.mine.kino.plugin.webrecorder.views.DriverView"
            id="nu.mine.kino.plugin.webrecorder.views.DriverView"
            name="DriverView">
      </view>
   </extension>


  
</plugin>
