<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="nu.mine.kino.plugin.plugindocumentcreator.formatters">
		<formatter 
			class="nu.mine.kino.plugin.plugindocumentcreator.impl.PerspectiveExtensionPointFormatter" 
			description="パースペクティブ用のフォーマッターです。" 
			id="perspectives" extension-point-id="org.eclipse.ui.perspectives" 
			name="パースペクティブ用フォーマッター"/>
		<formatter 
			class="nu.mine.kino.plugin.plugindocumentcreator.impl.ViewExtensionPointFormatter" 
			description="ビュー用のフォーマッターです。" id="views" 
			extension-point-id="org.eclipse.ui.views" name="ビュー用フォーマッター"/>
		<formatter 
			class="nu.mine.kino.plugin.plugindocumentcreator.impl.MenuExtensionPointFormatter" 
			description="org.eclipse.ui.menus 用のフォーマッタです" 
			id="menus" extension-point-id="org.eclipse.ui.menus" 
			name="メニュー用フォーマッター">
		</formatter>
		<formatter 
			class="nu.mine.kino.plugin.plugindocumentcreator.impl.PreferencePagesExtensionPointFormatter" 
			description="設定画面用フォーマッタです" id="preferencePages" 
			extension-point-id="org.eclipse.ui.preferencePages" name="設定画面用フォーマッター">
		</formatter>
		<formatter 
			class="nu.mine.kino.plugin.plugindocumentcreator.impl.KeywordExtensionPointFormatter" 
			description="org.eclipse.ui.keywords 用フォーマッタです" 
			id="keywords" extension-point-id="org.eclipse.ui.keywords" 
			name="Keyword 用フォーマッター">
		</formatter>
		<formatter 
			class="nu.mine.kino.plugin.plugindocumentcreator.impl.HandlerExtensionPointFormatter" 
			description="org.eclipse.ui.handlers 用フォーマッタです" 
			id="handlers" extension-point-id="org.eclipse.ui.handlers" 
			name="Handler用フォーマッター">
		</formatter>
		<formatter 
			class="nu.mine.kino.plugin.plugindocumentcreator.impl.PropertyPageExtensionPointFormatter" 
			description="org.eclipse.ui.propertyPages" 
			id="propertyPages" 
			extension-point-id="org.eclipse.ui.propertyPages" name="プロパティ画面用フォーマッター">
		</formatter>
	</extension>

</plugin>
